.git
.idea
.mvn
mvnw
mvnw.cmd
frontend
target/classes
target/test-classes
target/generated-sources
target/generated-test-sources
target/maven-status
target/maven-archiver
target/surefire-reports
*.md
.env
.env.example